In [1]:
import pandas as pd
import numpy as np

"""make medic dataframe"""
def make_medic_dataframe():
    df = pd.read_csv("data/common/dump_data_numeric_values_only.csv")

    # unique ABKUs
    # uniq_ABKU = df["ABKU"].unique()

    uniq_pseudo =  df["Pseudonym"].unique()

    pseud_df_list = []

    # loop all pseud in uniq_pseudo:
    start_index = 0
    for pseud in uniq_pseudo: #uniq_pseudo:
        print("create df for pseudonym " + str(pseud) + " ...")
        df_pseudo = df[df["Pseudonym"]==pseud]
        df_pseudo.index = range(len(df_pseudo))
        uniq_ABKU = df_pseudo["ABKU"].unique()

        # pseudo_dict = {}
        uniq_datum = df_pseudo["relatives_datum"].unique()
        datum_serie = pd.Series(uniq_datum)

        pseudo_dict = {"Pseudo":pseud, "relatives_datum":datum_serie}

        # find out unique pseudos
        # uniq_pseudo = df["Pseudonym"].unique()

        for apku in uniq_ABKU:
            pseudo_dict[apku] = pd.Series(np.nan, index=list(range(len(uniq_datum))), dtype="float")
        
        for index in range(start_index, start_index + len(df_pseudo)):
            tag_i = df["relatives_datum"][index]

            dict_index = datum_serie[datum_serie == tag_i].index  #[1]
            pseudo_dict[df["ABKU"][index]][dict_index] = df["Messwert_String"][index]

        pseud_df = pd.DataFrame(pseudo_dict)
        pseud_df_list.append(pseud_df)
        pseud_df.to_csv("data/common/df_" + str(pseud) + ".csv", index=False)

        start_index += len(df_pseudo)

    df_concat_0_79 = pd.concat(pseud_df_list, axis=0, ignore_index=True)
    df_concat_0_79.to_csv("data/common/df_all_pseudo.csv", index=False)
    print(df_concat_0_79.shape)
    # df_0_79 = pd.DataFrame(pseud_df_list)
    # df_0_79.to_csv("data/common/df_0_79.csv", index=False)

make_medic_dataframe()

create df for pseudonym 0 ...
create df for pseudonym 79 ...
create df for pseudonym 124 ...
create df for pseudonym 247 ...
create df for pseudonym 997 ...
create df for pseudonym 1056 ...
create df for pseudonym 1068 ...
create df for pseudonym 1090 ...
create df for pseudonym 1235 ...
create df for pseudonym 1256 ...
create df for pseudonym 1414 ...
create df for pseudonym 1494 ...
create df for pseudonym 1938 ...
create df for pseudonym 2500 ...
create df for pseudonym 2568 ...
create df for pseudonym 2628 ...
create df for pseudonym 2652 ...
create df for pseudonym 2832 ...
create df for pseudonym 2848 ...
create df for pseudonym 3297 ...
create df for pseudonym 3443 ...
create df for pseudonym 3487 ...
create df for pseudonym 4747 ...
create df for pseudonym 4811 ...
create df for pseudonym 5190 ...
create df for pseudonym 5650 ...
create df for pseudonym 5865 ...
create df for pseudonym 6360 ...
create df for pseudonym 6658 ...
create df for pseudonym 7233 ...
create df for pseudonym 7270 ...
create df for pseudonym 8275 ...
create df for pseudonym 8440 ...
create df for pseudonym 8730 ...
create df for pseudonym 8757 ...
create df for pseudonym 9208 ...
create df for pseudonym 9280 ...
create df for pseudonym 9382 ...
create df for pseudonym 9457 ...
create df for pseudonym 9688 ...
create df for pseudonym 9828 ...
create df for pseudonym 10037 ...
create df for pseudonym 11288 ...
create df for pseudonym 11337 ...
create df for pseudonym 11849 ...
create df for pseudonym 11862 ...
create df for pseudonym 11952 ...
create df for pseudonym 12889 ...
create df for pseudonym 13243 ...
create df for pseudonym 14199 ...
create df for pseudonym 14284 ...
create df for pseudonym 14313 ...
create df for pseudonym 16272 ...
create df for pseudonym 17201 ...
create df for pseudonym 17461 ...
create df for pseudonym 17644 ...
create df for pseudonym 18298 ...
create df for pseudonym 18425 ...
create df for pseudonym 19124 ...
create df for pseudonym 21470 ...
create df for pseudonym 22278 ...
create df for pseudonym 23649 ...
create df for pseudonym 24004 ...
create df for pseudonym 25619 ...
create df for pseudonym 26792 ...
create df for pseudonym 28982 ...
create df for pseudonym 29771 ...
create df for pseudonym 30799 ...
create df for pseudonym 34038 ...
create df for pseudonym 34317 ...
create df for pseudonym 36408 ...
create df for pseudonym 38115 ...
create df for pseudonym 39361 ...
create df for pseudonym 39821 ...
create df for pseudonym 43249 ...
create df for pseudonym 45533 ...
create df for pseudonym 46549 ...
create df for pseudonym 49425 ...
create df for pseudonym 49549 ...
create df for pseudonym 50183 ...
create df for pseudonym 50241 ...
create df for pseudonym 50549 ...
create df for pseudonym 52103 ...
create df for pseudonym 53045 ...
create df for pseudonym 53597 ...
create df for pseudonym 53835 ...
create df for pseudonym 54990 ...
create df for pseudonym 55973 ...
create df for pseudonym 55997 ...
create df for pseudonym 57100 ...
create df for pseudonym 58182 ...
create df for pseudonym 58330 ...
create df for pseudonym 61647 ...
create df for pseudonym 65046 ...
create df for pseudonym 65201 ...
create df for pseudonym 66153 ...
create df for pseudonym 67097 ...
create df for pseudonym 68828 ...
create df for pseudonym 70129 ...
create df for pseudonym 70862 ...
create df for pseudonym 71242 ...
create df for pseudonym 71972 ...
create df for pseudonym 73327 ...
create df for pseudonym 74731 ...
create df for pseudonym 74829 ...
create df for pseudonym 75011 ...
create df for pseudonym 75756 ...
create df for pseudonym 77315 ...
create df for pseudonym 77399 ...
create df for pseudonym 78667 ...
create df for pseudonym 80660 ...
create df for pseudonym 84739 ...
create df for pseudonym 85038 ...
create df for pseudonym 86166 ...
create df for pseudonym 88652 ...
create df for pseudonym 88775 ...
create df for pseudonym 88891 ...
create df for pseudonym 89548 ...
create df for pseudonym 90326 ...
create df for pseudonym 90576 ...
create df for pseudonym 90836 ...
create df for pseudonym 90921 ...
create df for pseudonym 90954 ...
create df for pseudonym 91102 ...
create df for pseudonym 91210 ...
create df for pseudonym 93051 ...
create df for pseudonym 97831 ...
create df for pseudonym 97875 ...
create df for pseudonym 97896 ...
create df for pseudonym 98569 ...
create df for pseudonym 100030 ...
create df for pseudonym 102395 ...
create df for pseudonym 103967 ...
create df for pseudonym 105083 ...
create df for pseudonym 108556 ...
create df for pseudonym 108560 ...
create df for pseudonym 109351 ...
create df for pseudonym 109365 ...
create df for pseudonym 111030 ...
create df for pseudonym 112457 ...
create df for pseudonym 113054 ...
create df for pseudonym 115135 ...
create df for pseudonym 116887 ...
create df for pseudonym 117122 ...
create df for pseudonym 118338 ...
create df for pseudonym 119547 ...
create df for pseudonym 121524 ...
create df for pseudonym 121883 ...
create df for pseudonym 121992 ...
create df for pseudonym 122689 ...
create df for pseudonym 123038 ...
create df for pseudonym 126150 ...
create df for pseudonym 127900 ...
create df for pseudonym 128312 ...
create df for pseudonym 129784 ...
create df for pseudonym 131293 ...
create df for pseudonym 132559 ...
create df for pseudonym 136616 ...
create df for pseudonym 137176 ...
create df for pseudonym 137406 ...
create df for pseudonym 138631 ...
create df for pseudonym 139733 ...
create df for pseudonym 140077 ...
create df for pseudonym 141378 ...
create df for pseudonym 142003 ...
create df for pseudonym 142066 ...
create df for pseudonym 143683 ...
create df for pseudonym 143873 ...
create df for pseudonym 144504 ...
create df for pseudonym 144711 ...
create df for pseudonym 144915 ...
create df for pseudonym 145043 ...
create df for pseudonym 145128 ...
create df for pseudonym 145421 ...
create df for pseudonym 145569 ...
create df for pseudonym 146025 ...
create df for pseudonym 148676 ...
create df for pseudonym 149121 ...
create df for pseudonym 149129 ...
create df for pseudonym 150719 ...
create df for pseudonym 151085 ...
create df for pseudonym 151690 ...
create df for pseudonym 152315 ...
create df for pseudonym 152457 ...
create df for pseudonym 153152 ...
create df for pseudonym 153320 ...
create df for pseudonym 156143 ...
create df for pseudonym 157537 ...
create df for pseudonym 157853 ...
create df for pseudonym 158130 ...
create df for pseudonym 159184 ...
create df for pseudonym 160739 ...
create df for pseudonym 160758 ...
create df for pseudonym 163412 ...
create df for pseudonym 164028 ...
create df for pseudonym 164720 ...
create df for pseudonym 164722 ...
create df for pseudonym 164786 ...
create df for pseudonym 165637 ...
create df for pseudonym 170102 ...
create df for pseudonym 171303 ...
create df for pseudonym 172954 ...
create df for pseudonym 177902 ...
create df for pseudonym 179563 ...
create df for pseudonym 180192 ...
create df for pseudonym 182214 ...
create df for pseudonym 185008 ...
create df for pseudonym 186574 ...
create df for pseudonym 187340 ...
create df for pseudonym 187502 ...
create df for pseudonym 187595 ...
create df for pseudonym 190005 ...
create df for pseudonym 190213 ...
create df for pseudonym 191305 ...
create df for pseudonym 191915 ...
create df for pseudonym 193588 ...
create df for pseudonym 197629 ...
create df for pseudonym 198795 ...
create df for pseudonym 199252 ...
create df for pseudonym 199491 ...
create df for pseudonym 199768 ...
create df for pseudonym 199977 ...
create df for pseudonym 200428 ...
create df for pseudonym 201663 ...
create df for pseudonym 202256 ...
create df for pseudonym 203104 ...
create df for pseudonym 206465 ...
create df for pseudonym 206771 ...
create df for pseudonym 207620 ...
create df for pseudonym 208457 ...
create df for pseudonym 210329 ...
create df for pseudonym 211075 ...
create df for pseudonym 213765 ...
create df for pseudonym 214386 ...
create df for pseudonym 214717 ...
create df for pseudonym 216537 ...
create df for pseudonym 216569 ...
create df for pseudonym 217134 ...
create df for pseudonym 218249 ...
create df for pseudonym 218596 ...
create df for pseudonym 218655 ...
create df for pseudonym 218700 ...
create df for pseudonym 219538 ...
create df for pseudonym 221094 ...
create df for pseudonym 222605 ...
create df for pseudonym 222814 ...
create df for pseudonym 223203 ...
create df for pseudonym 223340 ...
create df for pseudonym 223584 ...
create df for pseudonym 224723 ...
create df for pseudonym 226378 ...
create df for pseudonym 229869 ...
create df for pseudonym 230667 ...
create df for pseudonym 231498 ...
create df for pseudonym 231731 ...
create df for pseudonym 231763 ...
create df for pseudonym 231834 ...
create df for pseudonym 235689 ...
create df for pseudonym 236676 ...
create df for pseudonym 239184 ...
create df for pseudonym 239652 ...
create df for pseudonym 242786 ...
create df for pseudonym 242790 ...
create df for pseudonym 244121 ...
create df for pseudonym 247789 ...
create df for pseudonym 248522 ...
create df for pseudonym 248709 ...
create df for pseudonym 248969 ...
create df for pseudonym 249453 ...
create df for pseudonym 249985 ...
create df for pseudonym 250330 ...
create df for pseudonym 250695 ...
create df for pseudonym 253091 ...
create df for pseudonym 254265 ...
create df for pseudonym 254314 ...
create df for pseudonym 254509 ...
create df for pseudonym 255576 ...
create df for pseudonym 257979 ...
create df for pseudonym 260331 ...
create df for pseudonym 261102 ...
create df for pseudonym 261825 ...
create df for pseudonym 262622 ...
create df for pseudonym 264955 ...
create df for pseudonym 265692 ...
create df for pseudonym 265696 ...
create df for pseudonym 265963 ...
create df for pseudonym 266773 ...
create df for pseudonym 266938 ...
create df for pseudonym 268835 ...
create df for pseudonym 269755 ...
create df for pseudonym 270339 ...
create df for pseudonym 270351 ...
create df for pseudonym 271693 ...
create df for pseudonym 271754 ...
create df for pseudonym 272863 ...
create df for pseudonym 276359 ...
create df for pseudonym 276504 ...
create df for pseudonym 277820 ...
create df for pseudonym 278289 ...
create df for pseudonym 280462 ...
create df for pseudonym 280549 ...
create df for pseudonym 281567 ...
create df for pseudonym 282441 ...
create df for pseudonym 283493 ...
create df for pseudonym 283813 ...
create df for pseudonym 286620 ...
create df for pseudonym 287138 ...
create df for pseudonym 287559 ...
create df for pseudonym 289322 ...
create df for pseudonym 290175 ...
create df for pseudonym 294468 ...
create df for pseudonym 295113 ...
create df for pseudonym 296988 ...
create df for pseudonym 297516 ...
create df for pseudonym 297726 ...
create df for pseudonym 299227 ...
create df for pseudonym 299834 ...
create df for pseudonym 301913 ...
create df for pseudonym 302096 ...
create df for pseudonym 303304 ...
create df for pseudonym 303575 ...
create df for pseudonym 304292 ...
create df for pseudonym 305091 ...
create df for pseudonym 305124 ...
create df for pseudonym 305935 ...
create df for pseudonym 305969 ...
create df for pseudonym 307036 ...
create df for pseudonym 308266 ...
create df for pseudonym 308726 ...
create df for pseudonym 309769 ...
create df for pseudonym 311805 ...
create df for pseudonym 313781 ...
create df for pseudonym 314110 ...
create df for pseudonym 314957 ...
create df for pseudonym 316005 ...
create df for pseudonym 317660 ...
create df for pseudonym 318887 ...
create df for pseudonym 319422 ...
create df for pseudonym 320168 ...
create df for pseudonym 320338 ...
create df for pseudonym 321780 ...
create df for pseudonym 326588 ...
create df for pseudonym 328592 ...
create df for pseudonym 329269 ...
create df for pseudonym 333207 ...
create df for pseudonym 335889 ...
create df for pseudonym 339886 ...
create df for pseudonym 342314 ...
create df for pseudonym 343394 ...
create df for pseudonym 344065 ...
create df for pseudonym 345844 ...
create df for pseudonym 347528 ...
create df for pseudonym 348322 ...
create df for pseudonym 349211 ...
create df for pseudonym 351602 ...
create df for pseudonym 351782 ...
create df for pseudonym 352152 ...
create df for pseudonym 352687 ...
create df for pseudonym 353687 ...
create df for pseudonym 355351 ...
create df for pseudonym 355925 ...
create df for pseudonym 358574 ...
create df for pseudonym 358829 ...
create df for pseudonym 358833 ...
create df for pseudonym 359675 ...
create df for pseudonym 359845 ...
create df for pseudonym 362594 ...
create df for pseudonym 365005 ...
create df for pseudonym 368302 ...
create df for pseudonym 368317 ...
create df for pseudonym 368697 ...
create df for pseudonym 368887 ...
create df for pseudonym 371535 ...
create df for pseudonym 374563 ...
create df for pseudonym 381014 ...
create df for pseudonym 383170 ...
create df for pseudonym 384002 ...
create df for pseudonym 385657 ...
create df for pseudonym 386444 ...
create df for pseudonym 390327 ...
create df for pseudonym 395022 ...
create df for pseudonym 397331 ...
create df for pseudonym 398149 ...
create df for pseudonym 399442 ...
create df for pseudonym 399488 ...
create df for pseudonym 399894 ...
create df for pseudonym 400060 ...
create df for pseudonym 402846 ...
create df for pseudonym 403690 ...
create df for pseudonym 405077 ...
create df for pseudonym 406756 ...
create df for pseudonym 414596 ...
create df for pseudonym 417393 ...
create df for pseudonym 418819 ...
create df for pseudonym 420434 ...
create df for pseudonym 422867 ...
create df for pseudonym 423227 ...
create df for pseudonym 423920 ...
create df for pseudonym 425179 ...
create df for pseudonym 428551 ...
create df for pseudonym 431423 ...
create df for pseudonym 431495 ...
create df for pseudonym 433546 ...
create df for pseudonym 433748 ...
create df for pseudonym 436218 ...
create df for pseudonym 437426 ...
create df for pseudonym 437538 ...
create df for pseudonym 438702 ...
create df for pseudonym 444228 ...
create df for pseudonym 444811 ...
create df for pseudonym 445699 ...
create df for pseudonym 447397 ...
create df for pseudonym 449362 ...
create df for pseudonym 453517 ...
create df for pseudonym 453603 ...
create df for pseudonym 455089 ...
create df for pseudonym 455282 ...
create df for pseudonym 458434 ...
create df for pseudonym 459183 ...
create df for pseudonym 462156 ...
create df for pseudonym 463977 ...
create df for pseudonym 465292 ...
create df for pseudonym 468821 ...
create df for pseudonym 469376 ...
create df for pseudonym 470949 ...
create df for pseudonym 471085 ...
create df for pseudonym 471404 ...
create df for pseudonym 472835 ...
create df for pseudonym 475753 ...
create df for pseudonym 475816 ...
create df for pseudonym 477495 ...
create df for pseudonym 479749 ...
create df for pseudonym 484761 ...
create df for pseudonym 487090 ...
create df for pseudonym 488374 ...
create df for pseudonym 490584 ...
create df for pseudonym 492412 ...
create df for pseudonym 493305 ...
create df for pseudonym 499408 ...
create df for pseudonym 500407 ...
create df for pseudonym 501125 ...
create df for pseudonym 501778 ...
create df for pseudonym 501822 ...
create df for pseudonym 502516 ...
create df for pseudonym 502527 ...
create df for pseudonym 504039 ...
create df for pseudonym 510367 ...
create df for pseudonym 511416 ...
create df for pseudonym 512292 ...
create df for pseudonym 518493 ...
create df for pseudonym 519749 ...
create df for pseudonym 522202 ...
create df for pseudonym 522905 ...
create df for pseudonym 526969 ...
create df for pseudonym 528150 ...
create df for pseudonym 528589 ...
create df for pseudonym 533563 ...
create df for pseudonym 534587 ...
create df for pseudonym 540733 ...
create df for pseudonym 541721 ...
create df for pseudonym 546239 ...
create df for pseudonym 554685 ...
create df for pseudonym 557647 ...
(87717, 878)